.brand-name{
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
}

.nav-item-container a{
    font-size: 23px;
}
.pp{
    border-radius: 50%;
}
.home-card{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aside-lg{
    display: flex;
    justify-content: space-between !important;
    padding: 4px;
}
.details{
    padding: 3px;
    background-color:black;
    font-family: 'Kalam', cursive;
    text-align: center !important;
    width: 40%;
}
.special{
    font-family: 'Roboto Mono', monospace;
    color: white !important;

}
.social-media{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.social-media-icon{
    margin-left: 14px;
}
li{
    text-align: center;
    list-style-type: none !important;
}

.label{
    color: rgb(135, 206, 235);
    text-align: center !important;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: 20;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  /* .mycontainer{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
  } */

.swiper {
    max-width: 70%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 100vh;
}
.swiper-slide{
    max-width: 70% !important;
}

  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  

@media screen and (max-width: 860px){
    .aside-lg{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .details{
        width: 100%;
    }
    .home-card{
        padding: 0;
    }
    .brand-name{
        font-size: 20px;
    }
    .pp{
      height: 280px;
      width: 280px;
    }
}


/* For Contact Form*/
.form-container{
    padding: 5px;
}
